@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,900&family=Titillium+Web:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    line-height: 1.95rem;
}
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background: gainsboro;
    font-family: 'Barlow', sans-serif;
    line-height: 1.95rem;
}
 #container{
    width: 100%;
    margin: 0px auto;
    border: 2px solid black;
    align-content: center;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.5rem;
    padding: 0.5rem;
}

p{
    font-size: 1.1rem;
}

header{
    background: #ffecec;
    height: 300px;
    width: 100%;
    padding: 60px;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    text-align: center;
    border-bottom: 2px solid darkblue;
}
header img{
    align-content: flex-start;
    max-width: 130px;
    border-bottom: 20px;
    border: 4px solid darkblue;
   
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #656665;
    top: 0;
    left: 0;
    font: bold white;
    position: fixed;
    z-index: 9999;
}
nav ul li{
    
    list-style: none;
    margin: 10px;
    display: inline-block;
   

}
nav ul li a{
    color: aliceblue;
}
aside{
    color: rgb(0, 0, 0);
    width: 30%;
    background: grey;
    text-align: center;
    min-height: 800px;
      }
      aside i{
        color: rgb(255, 255, 255);
     
      }
      
      aside form{
        width: 60%;
        max-width: 60%;
        margin: auto;
        margin-top: 2%;
      }
      aside h2{
    
        margin-bottom: 20px;
    
      }
#formacion{
    float: right;
    width: 70%;
    min-height: 100px;
    text-align: center;
    border: 2px solid darkblue;
}
#formacion i{
    color: rgb(27, 12, 236);
    
        float: left;
}
#experiencia{
    min-height: 500px;
    float: right;
    width: 70%;
    text-align: center;
    border: 2px solid darkblue;
    max-height: 800px;
}
#experiencia i{
    color: rgb(27, 12, 236);
       
        float: left;
}

#experiencia img{
    max-width: 150px;

}
article{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid darkblue;
}
article .h2{
    font-family: 'Titillium Web', sans-serif;

    text-decoration-color: blue;
}
article h3{
   
    border-radius: 2px;
}

form{
    width: 80%;
    margin: 0 center;
    background: rgb(212, 212, 212);
    padding-left: 1px;
    box-sizing: border-box;
    margin-top: 1rem;
    border-radius: 6px;
}
input, textarea{
    max-width: 80%;
}
#habilidades{
    width: 100%;
    margin: 60px auto;
    color: rgb(54, 32, 255);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#habilidades li{
    margin: 20px 0;
    padding: 10px;
}
.barra{
    background: rgb(176, 178, 180);
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(39, 6, 223, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.barra:hover{
    box-shadow: 0 14px 28px rgba(6, 205, 255, 0.25), 0 10px 10px rgba(32, 196, 26, 0.22);
}
.barra span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(56, 65, 139)0%, rgb(61, 90, 255)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
.javascript{
    width: 70%;
    animation: javascript 3s;
}
.php{
    width: 80%;
    animation: php 3s;
}
@keyframes html{
    0%{
        width: 0%;
    } 
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    } 
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    } 
    100%{
        width: 70%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    } 
    100%{
        width: 80%;
    }
}

@media (max-width: 28.75em){
    body{
     line-height: 3rem;
    }

     nav{
        justify-content: center;
     }
    nav > ul {
        margin: 0 1rem;
    }
} 
@media (max-width: 75em) {
    html {
      font-size: 68%;
    }
  }
 
 
  @media (max-width: 28.75em) {
    html{
      font-size: 62%;
    }
  }
